[Unit]
Description=distcc
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker pull thedrhax/distcc-alpine:latest
ExecStart=/usr/bin/docker run --name distcc --rm -p 3632:3632 thedrhax/distcc-alpine:latest
ExecStop=/usr/bin/docker stop distcc
ExecStopPost=-/usr/bin/docker rm distcc

[Install]
WantedBy=multi-user.target
